{% extends 'base1.html.twig' %}

{% block title %}Register

{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<h5 class="card-header text-center">Register</h5>
					<div class="card-body">
						{{ form_errors(registrationForm) }}
						{{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
						<div class="form-group">
							{{ form_label(registrationForm.username, 'Username', {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(registrationForm.username) }}
						</div>

						<div class="form-group">
							{{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'control-label'}}) }}
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'id': 'password', 'onkeyup': 'validatePassword()'}}) }}
							<p id="length" class="invalid">Password must be at least 8 characters</p>
							<p id="uppercase" class="invalid">Password must contain at least one uppercase letter</p>
							<p id="lowercase" class="invalid">Password must contain at least one lowercase letter</p>
							<p id="special" class="invalid">Password must contain at least one special character</p>
							<p id="digit" class="invalid">Password must contain at least one digit</p>

						</div>

						<div class="form-group">
							{{ form_widget(registrationForm.agreeTerms) }}
							{{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'form-check-label'}}) }}
							{{ form_errors(registrationForm.agreeTerms) }}
							<div class="text-center mt-2">
								<button type="submit" class="btn btn-primary">Register</button>
							</div>
						</div>

						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
