{% extends 'base1.html.twig' %}


{% block body %}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Username</th>
			<th>Roles</th>
			<th>Password</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<!-- {% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			<td>
				****</td>
			<td>
				<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
				<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="5">no records found</td>
		</tr>
		{% endfor %} -->
		{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>
				<select class="form-control">
					{% if user.roles %}
					{% for role in user.roles %}
					<option value="{{ role }}">{{ role }}</option>
					{% endfor %}
					{% else %}
					<option>No roles</option>
					{% endif %}
				</select>
			<td>****</td>
			<td>
				<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
				<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}